# Logs and databases #
######################
*.log

# Ansible retry files #
#######################
*.retry

# Dependency directories #
##########################
node_modules/
jspm_packages/

#  Vagrant files #
##################
.vagrant

# Istanbul code coverage #
##########################
.nyc_output/

# password file #
#################
ansible_vault_password.txt
.env

# old ansible files #
#####################
base.yml
oldfiles/

# Trash files #
###############
.Trash-1000/

# Coverage files #
##################
coverage/

# Database #
############
database/*
!database/.gitkeep

index.android.bundle
corpora
nltk_data
sam-app/build-access
sam-app/build-semantic
loadreviews/uploadfiles

__pycache__

 
